*{
    text-decoration: none;
    list-style: none;
}

html{
	scroll-behavior: smooth;
}

/* General */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
}

.container-logo img {
    height: 50px;
}

/*Main Navigation*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #333333;
    z-index: 10;
    transition: 0.5s ease all;
}

.navbar{
    color: #000000;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 8;
    font-size: 18px;
    max-width: 1220px;
    margin: auto;
    letter-spacing: 1px;
    text-align: center;
    overflow: hidden;
}

.navbar-menu{
    display: flex;
    justify-content: flex-end;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: max-height .5s ease-out;
    overflow: hidden;
}

.navbar ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 0;
}

.navbar ul li{
    list-style: none;
    align-items: center;
}

.navbar ul li:hover{
    background: #FAAD00;
    padding: 12px 0;
}

.navbar .selected-li{
    background: #f1f1f120;
    padding: 12px 0;
}

body.dark .navbar ul li:hover{
    background: #252526;
    padding: 12px 0;
}

.navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: #ffffff;
}

.navbar ul li a:hover{
    color: #333333;
}

.navbar input[type="checkbox"]{
    display: none;
}

/*---- Icons ----*/

label img{
    fill: currentColor !important;
    filter: invert(71%) sepia(75%) saturate(1968%) hue-rotate(0deg) brightness(96%) contrast(104%);
    width: 20px;
    display: none;
    transition: 0.5s ease all;
}

.menu-icon{
    position: absolute;
    margin-top: 5px;
}

.menu-icon-x{
    opacity: 0;
    visibility: hidden;
    top: 0;
    right: 0;
}

.menu-icon-x.active{
    opacity: 1;
    visibility: visible;
}

.menu-icon.active{
    opacity: 0;
    visibility: hidden;
}

.main-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 30px 0;
}




nav {
    display: flex;
    align-items: center;
}

.hamburger, .close {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

#nav-list {
    display: flex;
    gap: 20px;
}

#nav-list li {
    list-style: none;
}

#nav-list a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/*WHATSAPP1*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom: 15px;
    right: 15px;
	background-color:#4cc370;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:200;
}
.float:hover {
	text-decoration: none;
	color: #fff;
  background-color:#3d9e5a;
}

.my-float{
	margin-top:16px;
}

/*WHATSAPP2*/

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  width: auto;
  height: auto;
  position: fixed;
  z-index: 198;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  margin: 0px;
}
@media (max-width: 360px) {
  .nav-bottom {
    width: 320px;
  }
}

.whatsapp-button {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  z-index: 8;
  transition: .3s;
  margin: 10px;
  padding: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  /* offset-x > | offset-y ^| blur-radius | spread-radius | color */
  -webkit-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
}

.circle-anime {
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  transition: .3s;
  background-color: #77bb4a;
  animation: pulse 1.2s 4.0s ease 4;
}

.popup-whatsapp {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  height: auto;
  padding: 10px;
  bottom: 85px;
  right: 6px;
  transition: .5s;
  border-radius: 10px;
  background-color: white;
  /* offset-x > | offset-y ^| blur-radius | spread-radius | color */
  -webkit-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  animation: slideInRight .6s 0.0s both;
}
.popup-whatsapp > div {
  margin: 5px;
}
@media (max-width: 680px) {
  .popup-whatsapp p {
    font-size: 0.9em;
  }
}
.popup-whatsapp > .content-whatsapp.-top {
  display: flex;
  flex-direction: column;
}
.popup-whatsapp > .content-whatsapp.-top p {
  color: #585858;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.0em;
}
.popup-whatsapp > .content-whatsapp.-bottom {
  display: flex;
  flex-direction: row;
}

.closePopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin: 0px 0px 15px 0px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4cc370;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
}
.closePopup:hover {
  background-color: #3d9e5a;
  transition: .3s;
}

.send-msPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0px 0px 0px 5px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
}
.send-msPopup:hover {
  background-color: #f8f8f8;
  transition: .3s;
}

.is-active-whatsapp-popup {
  display: flex;
  animation: slideInRight .6s 0.0s both;
  background-color: #fafafa;
}

input.whats-input[type=text] {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 0px solid #ffffff;
  border-radius: 20px;
  font-size: 1em;
  background-color: #ffffff;
  padding: 0px 0px 0px 10px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  outline: none;
  transition: .3s;
}
@media (max-width: 420px) {
  input.whats-input[type=text] {
    width: 225px;
  }
  
  .float{
    right: 15px;
    }
    
    .nav-bottom {
      right: 0px;
    }
}
input.whats-input::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(68, 68, 68, 0.705);
  opacity: 1;
}
input.whats-input[type=text]:focus {
  background-color: #f8f8f8;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  transition: .3s;
}

.icon-whatsapp-small {
  width: 24px;
  height: 24px;
}

.icon-whatsapp {
  width: 45px;
  height: 45px;
}

.icon-font-color {
  color: #ffffff;
}

.icon-font-color--black {
  color: #333333;
}

/* Media Queries */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    #nav-list {
        display: none;
        flex-direction: column;
        background-color: #000;
        position: absolute;
        right: 0;
        top: 60px;
        width: 100%;
    }

    #nav-list.active {
        display: flex;
    }
}

@media only screen and (max-width: 860px){
    .container-logo{
        padding: 0 30px;
    }
    
    .navbar{
        overflow: visible;
    }
    
    .navbar nav {
        width: 100%;
    }

    .navbar nav ul {
        position: absolute;
        top: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.95);
        width: 100%;
        max-width: 900px;
        padding: 0;
        overflow-y: auto; /* Habilita scroll vertical */
        overflow-x: hidden;
        transition: max-height 0.5s ease;
        max-height: 600px; /* Altura máxima para que funcione el scroll */
        transform: translateY(0%);
        display: block;
    }

    /* Estilos de barra de desplazamiento */
    .navbar nav ul::-webkit-scrollbar {
        width: 10px;
        background: #666;
    }

    .navbar nav ul::-webkit-scrollbar-thumb {
        background: #FAAD00;
        border-radius: 5px;
        z-index: 1999;
    }

    .navbar nav ul li {
        margin-right: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 12px 0;
        width: 100%;
        text-align: center;
    }

    label img {
        display: block;
        cursor: pointer;
        padding: 0 10px;
    }
}

/* Estilos para dispositivos móviles en orientación vertical (portrait) */
@media only screen and (max-width: 500px) and (orientation: portrait) {
    .navbar nav ul {
        position: absolute;
        top: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.95);
        width: 100%;
        max-height: 100vh; /* Ocupa toda la altura de la pantalla si es necesario */
        overflow-y: auto;
        padding: 0;
        transform: translateY(0%);
        transition: max-height 0.5s ease;
    }

    .navbar nav ul li {
        padding: 12px 0;
        width: 100%;
        text-align: center;
    }

    .quienes-somos{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .contenido{
        padding-right: 0px;
    }

    /* Barra de desplazamiento personalizada para vista vertical */
    .navbar nav ul::-webkit-scrollbar {
        width: 10px;
        background: #666;
    }

    .navbar nav ul::-webkit-scrollbar-thumb {
        background: #FAAD00;
        border-radius: 5px;
    }
}

/* Estilos para dispositivos móviles en orientación horizontal (landscape) */
@media only screen and (max-width: 780px) and (orientation: landscape) {
    .hero{
        height: 700px;
    }

    .hero .container .container-col h2{
        font-size: 35px;
    }

    .navbar nav ul {
        position: absolute;
        top: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.95);
        width: 100%;
        max-height: 150px; /* Limita la altura del menú */
        overflow-y: auto; /* Activa el scroll vertical en landscape */
        padding: 0;
        transform: translateY(0%);
        transition: max-height 0.5s ease;
    }

    .navbar nav ul li {
        padding: 1px 0;
        width: 100%;
        text-align: center;
    }

    .navbar nav ul li:hover {
        padding: 1px 0;
    }

    /* Barra de desplazamiento personalizada para vista horizontal */
    .navbar nav ul::-webkit-scrollbar {
        width: 10px;
        background: #666;
    }

    .navbar nav ul::-webkit-scrollbar-thumb {
        background: #FAAD00;
        border-radius: 5px;
    }

    /*Box Search*/
    #box-search{
        max-height: 150px; /* Altura máxima para que funcione el scroll */
    }

    /*Quiénes somos*/
    #read-more {
        max-height: 160px;
    }
}
/* Footer */
footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
}



/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #202124;
}

/* Título principal */
header h1 {
    text-align: center;
    padding: 20px;
    background-color: #4285F4;
    color: white;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Contenido principal */
.content {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

/* Grids */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex: 3;
}

/* Sidebar */
.sidebar {
    flex: 1;
    background-color: white;
    padding: 20px;
    margin-left: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Grids de artículos */
.grid-item {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.grid-item img {
    width: 100%;
    border-radius: 8px;
    transition: 0.5s ease all;
    height: 67%;
    object-fit: cover;
}

.grid-item img:hover {
    max-width: 100%;
    border-radius: 8px;
    transform: scale(1.1);
}

/* Meta de artículos */
.meta {
    font-size: 0.9em;
    color: #5f6368;
}

/* Estilos para la sección de comentarios */
.comments-section {
    margin: 20px 0;
    padding: 20px;
    background-color: #f1f3f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
}

form input, form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #d1d1d1;
}

form button {
    background-color: #4285F4;
    color: white;
    border: none;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    max-width: 80%;
    max-height: 100vh;
    overflow: auto;
}

.modal-content img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.modal-content img::-webkit-scrollbar {
    width: 10px;
    background: #666;
}

.modal-content img::-webkit-scrollbar-thumb {
    background: #FAAD00;
    border-radius: 5px;
    z-index: 1999;
}


.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Adaptabilidad */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .sidebar {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/*BOTÓN*/
.btn-cta {
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-cta:hover {
    background-color: #005fa3;
    transform: scale(1.05);
}

/* Lista con estrellas */
.star-list {
    list-style-type: none; /* Quita los puntos de la lista predeterminados */
    padding: 0;
    margin: 0;
    text-align: left; /* Alinea el texto a la izquierda */
}

.star-list li {
    position: relative;
    padding-left: 25px; /* Espacio para el icono de estrella */
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

/* Agrega el ícono de estrella antes de cada ítem */
.star-list li::before {
    content: "★"; /* Símbolo de estrella */
    position: absolute;
    left: 0;
    color: #FFD700; /* Color dorado para la estrella */
    font-size: 18px; /* Tamaño de la estrella */
}
