*{
    text-decoration: none;
    list-style: none;
}

html{
	scroll-behavior: smooth;
}

/* General */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    z-index: 2;
}

.container-logo img {
    height: 50px;
}

/*Main Navigation*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #333333;
    z-index: 10;
    transition: 0.5s ease all;
}

.navbar{
    color: #000000;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 8;
    font-size: 18px;
    max-width: 1220px;
    margin: auto;
    letter-spacing: 1px;
    text-align: center;
    overflow: hidden;
}

.navbar-menu{
    display: flex;
    justify-content: flex-end;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: max-height .5s ease-out;
    overflow: hidden;
}

.navbar ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 0;
}

.navbar ul li{
    list-style: none;
    align-items: center;
}

.navbar ul li:hover{
    background: #FAAD00;
    padding: 12px 0;
}

.navbar .selected-li{
    background: #f1f1f120;
    padding: 12px 0;
}

body.dark .navbar ul li:hover{
    background: #252526;
    padding: 12px 0;
}

.navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: #ffffff;
}

.navbar ul li a:hover{
    color: #333333;
}

.navbar input[type="checkbox"]{
    display: none;
}

/*---- Icons ----*/

label img{
    fill: currentColor !important;
    filter: invert(71%) sepia(75%) saturate(1968%) hue-rotate(0deg) brightness(96%) contrast(104%);
    width: 20px;
    display: none;
    transition: 0.5s ease all;
}

.menu-icon{
    position: absolute;
    margin-top: 5px;
}

.menu-icon-x{
    opacity: 0;
    visibility: hidden;
    top: 0;
    right: 0;
}

.menu-icon-x.active{
    opacity: 1;
    visibility: visible;
}

.menu-icon.active{
    opacity: 0;
    visibility: hidden;
}

.main-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 30px 0;
}




nav {
    display: flex;
    align-items: center;
}

.hamburger, .close {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

#nav-list {
    display: flex;
    gap: 20px;
}

#nav-list li {
    list-style: none;
}

#nav-list a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Media Queries */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    #nav-list {
        display: none;
        flex-direction: column;
        background-color: #000;
        position: absolute;
        right: 0;
        top: 60px;
        width: 100%;
    }

    #nav-list.active {
        display: flex;
    }
}

/* Sección Banner OP 1*/
.banner {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background-image: linear-gradient(
			0deg,
			rgba(0,0,0,0.5),
			rgba(0,0,0,0.5)
		)
	,url(files/images/pregnant-woman-having-business-meeting.jpg);
    width: 100%;
    background-size: cover;
  	background-repeat:no-repeat;
  	background-position: center center;
  	background-attachment: fixed;
}

.banner-content {
    position: relative;
    z-index: 2;
    background: rgba(0,0,0,0.7);
    padding: 20px;
    border-radius: 12px;
}

/* Sección Banner OP 2*/

.hero{
	display: flex;
    align-items: center;
	justify-content: center;
	background-image: linear-gradient(
			0deg,
			rgba(0,0,0,0.5),
			rgba(0,0,0,0.5)
		)
	,url(files/images/pregnant-woman-having-business-meeting.jpg);
	height: 100vh;
	background-size: cover;
  	background-repeat:no-repeat;
  	background-position: center center;
  	background-attachment: fixed;
  	position: relative;
  	overflow: hidden;
  	color: #ffffff;
}

.hero .container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
	transition: all .5s ease-out;
}

.hero .container .container-col{
    padding: 20px;
    text-align: center;
    margin: auto;
	justify-content: space-around;
	transition: all .5s ease-out;
	display: flex;
	flex-direction: column;
}

.hero .container .container-col:nth-child(2n){
    background: transparent;
}

.hero .container .container-col h2{
	font-size: 50px;
	padding: 1rem 0;
	line-height: 1.1;
}

.hero .container .container-col h2 span{
	color: #FAAD00;
}

.hero .container .container-col p{
	font-size: 16pt;
    padding: 30px;
}

.hero .container .container-col img{
    max-width: 300px;
    max-height: 225px;
    width: 100%;
    height: 100%;
	margin: auto;
	justify-content: center;
    object-fit: cover;
}

.hero .container .container-col .controller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    width: 100%;
	padding: 15px;
	margin: auto;
	background-color: rgba(2, 0, 0, 0.602);
	text-align: center;
    border-radius: 20px;
}

.hero .container-webform{
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

.hero .container-webform.active{
	opacity: 1;
	visibility: visible;
}

.hero .container-cta.active{
	opacity: 0;
	visibility: hidden;
}

.btn-cta{
	margin-top: 3rem;
	background-color: #0d1cf0;
    transition: 0.5s ease all;
}

.btn-cta:hover{
	background-color: #251968;
}

.btn-webform{
	background-color: #FAAD00;
    transition: 0.5s ease all;
}

.btn-webform:hover{
	background-color: #000000;
}

button{
	font-size: 1em;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.5);
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
	color: black;
	background-color: #47bded;
	cursor: pointer;
	max-width: 300px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 7px;
	margin-right: 7px;
    transition: 0.5s ease all;
}

button:hover{
	background-color: rgb(101, 33, 165);
    color: white;
}

.arrow-up{
    opacity: 0;
    visibility: hidden;
}



/* Sección de metodología */
.parallax-section{
    padding: 40px 0;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 100%;
}

.container-metody {
    max-width: 400px;
    width: 100%;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
}

.main {
    width: 100%;
    background-color: #333;
}

.ul-metody {
    width: 100%;
    padding: 0;
    margin-top: 0;
}

.ul-metody li {
    width: 100%;
    list-style: none;
    border-bottom: 1px solid #000000;
    overflow: hidden;
    transition: max-height 0.7s ease;
}

.div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #FAAD00;
    color: #000000;
    cursor: pointer;
}

.div .link-content {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: sans-serif;
    color: #000000;
}

.div .fas {
    margin-right: 10px;
}

.div .fa-chevron-down {
    transition: transform 0.3s;
    pointer-events: none;
}

/* Para el contenido adicional */
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease;
    padding: 0 15px;
    color: #ffffff;
}

.scale .content {
    max-height: 100px; /* Ajusta esta altura según el contenido */
}

.scale .fa-chevron-down {
    transform: rotate(180deg);
}

.content a{
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
}

.content a:hover{
    color: #27aa9d;
}

.content a i {
    margin-right: 8px; /* Espacio entre el icono y el texto */
}

.ul-metody .list .content p{
    font-size: 14px;
    padding: 0;
}




/* Sección de Servicios */
#servicios {
    padding: 50px 20px;
    text-align: center;
}

.grid-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-item {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los íconos horizontalmente */
    padding: 20px;
    overflow: hidden;
}

.grid-item img {
    height: 100%;
    max-width: 350px;
    max-height: 200px;
    margin-bottom: 15px; /* Espacio entre el icono y el texto */
    transition: 0.5s ease all;
    object-fit: cover;
}

.grid-item img:hover{
    transform: scale(1.1);
}

/* Sección Contacto */
.section-form{
    background-image: linear-gradient(
			0deg,
			rgba(0,0,0,0.5),
			rgba(0,0,0,0.5)
		)
	,url(files/images/pregnant-woman-having-business-meeting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    margin: auto;
    transition: 0.5s ease all;
}

.form{
	background: #000000d0;
	margin: 50px 0;
	padding: 12px 15px;
    display: block;
    transition: 0.5s ease all;
    border-radius: 20px;
    left: 0;
    width: 93%;
    max-width: 900px;
}

.title-contact{
	text-align: center;
	color: #FAAD00;
	font-size: 40px;
    padding: 20px 10px;
    transition: 0.5s ease all;
}

.input-form{
    font-size: 16px;
    width: 82%;
    padding: 10px;
    border: none; /* Elimina el borde */
    outline: none; /* Elimina el contorno al enfocar */
    border: none;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: block;
    resize: none;
    color: #ffffff;
}

.textarea{
    height: 100px;
    border: none; /* Elimina el borde de los textarea */
    outline: none;
}

input[placeholder="Nombre"],
input[placeholder="Teléfono"],
input[placeholder="Correo electrónico"],
input[placeholder="País"],
input[placeholder="Ciudad"],
textarea[placeholder="Tu mensaje"]{
	border: none;
    list-style: none;
    text-decoration: none;
    outline: 0;
}

.input-container{
	margin-bottom: 10px;
	border: 1px solid #aaa;
    display: flex;
    align-items: center;
}

.icon{
	min-width: 45px;
	text-align: center;
	color: #999;
}

.input-container span{
    font-size: 25px;
    color: #aaa;
    margin-bottom: 3px;
}

.button{
	border: none;
	width: 100%;
	color: #1a1a1a;
	font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
	background: #FAAD00;
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover{
	background: #fae100;
    transform: scale(1.01);
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Para Firefox */
    appearance: none; /* Para navegadores modernos */
}

input, textarea, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Footer */
footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/*Quiénes somos*/

.quienes-somos {
    display: flex;
    background-image: url('ruta/de/imagen-de-tecnologia.jpg');
    background-size: cover;
    padding: 50px;
    color: #333;
}

.contenido {
    width: 50%;
    padding-right: 20px;
    margin: auto;
    justify-content: center;
}

.contenido img{
    width: 100%;
    max-width: 300px;
}

.contenido p{
    text-align: justify;
}

#contenidoExpandido {
    display: none;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.contenido-expandido p, .contenido-expandido ul, .contenido-expandido li {
    margin: 0 0 10px;
}

.cta {
    font-weight: bold;
    color: #555;
    font-size: 1.1em;
}

#read-more {
    max-height: 80px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}
#read-more.expanded {
    max-height: 1000px; /* Un valor grande para asegurar que el contenido completo se despliegue */
}

.imagen-parallax {
    width: 50%;
    position: relative;
    overflow: hidden;
}

.parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.fondo {
    background-image: url('https://png.pngtree.com/png-vector/20230831/ourmid/pngtree-server-3d-illustration-png-image_9231819.png');
    transform: translateZ(-1px) scale(2);
}

.nube {
    background-image: url('https://icons.veryicon.com/png/o/miscellaneous/2022-complete-collection-of-alibaba-cloud/hosting-virtual-machine-1.png');
    transform: translateY(100px);
}

.maquinas {
    background-image: url('https://img.icons8.com/fluent/512/virtualbox.png');
    transform: translateY(200px);
}

/*Nuestro Equipo*/
.nuestro-equipo {
    background-color: #f2f2f2;
    padding: 40px 20px;
    text-align: center;
}

.nuestro-equipo h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.equipo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.equipo-miembro {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.equipo-miembro:hover {
    transform: scale(1.02);
}

.equipo-miembro img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
}

.equipo-miembro h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.equipo-miembro h4 {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
}

.equipo-miembro p {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 20px;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icons a {
    margin: 0 5px;
    color: #0077b5;
    font-size: 0.9em;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 5px 6px;
    border-radius: 100%;
}

.social-icons a:hover {
    color: #005582;
    transform: scale(1.1);
    background-color: #121212;
    filter: invert(1);
}

/*Nuestros Proyectos*/
.nuestros-proyectos {
    background-color: #1a1a1a;
    padding: 40px 20px;
    text-align: center;
}

.nuestros-proyectos h2 {
    font-size: 2em;
    color: #f2f2f2;
    margin-bottom: 20px;
}

.proyectos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.proyecto-item {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.proyecto-item:hover {
    transform: scale(1.05);
}

.proyecto-item img {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    margin-bottom: 15px;
    object-fit: cover;
}

.proyecto-item h3 {
    font-size: 1.2em;
    color: #ffffff;
    margin-top: 10px;
}

/*Nuestros Clientes*/
.clientes {
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;
}

.clientes h1 {
    font-size: 2.5em;
    color: #333333;
    margin-bottom: 40px;
}

.clientes-logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.clientes-logos img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.5s ease, transform 0.5s ease;
}

.clientes-logos img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

/*Blog*/
.blog {
    background-color: #f5f5f5; /* Gris claro tirando a blanco */
    padding: 50px 20px;
    text-align: center;
}

.blog h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
}

.blog p {
    font-size: 1.1em;
    color: #555;
    max-width: 700px;
    margin: 0 auto 40px;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.blog-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.blog-item:hover {
    transform: scale(1.03);
}

.blog-item img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 15px;
    object-fit: cover;
}

.blog-item h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.blog-item p {
    color: #666;
    margin-bottom: 20px;
}

.btn-cta {
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-cta:hover {
    background-color: #005fa3;
    transform: scale(1.05);
}

.blog-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

.blog-info span {
    display: inline-block;
}

.date, .time, .author {
    background-color: #e0e0e0; /* Fondo gris claro */
    padding: 5px 10px;
    border-radius: 6px;
    margin-right: 5px;
}


/*Complement Services*/
/* Contenedor de la sección de servicios */
.services-section {
    display: grid;
    justify-content: center; /* Centra el grid en la página */
    padding: 20px;
}

/* Lista con estrellas */
.star-list {
    list-style-type: none; /* Quita los puntos de la lista predeterminados */
    padding: 0;
    margin: 0;
    text-align: left; /* Alinea el texto a la izquierda */
}

.star-list li {
    position: relative;
    padding-left: 25px; /* Espacio para el icono de estrella */
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

/* Agrega el ícono de estrella antes de cada ítem */
.star-list li::before {
    content: "★"; /* Símbolo de estrella */
    position: absolute;
    left: 0;
    color: #FFD700; /* Color dorado para la estrella */
    font-size: 18px; /* Tamaño de la estrella */
}

#scene{
    padding: 20px;
    text-align: center;
    margin: auto;
	justify-content: space-around;
	transition: all .5s ease-out;
	display: flex;
	flex-direction: column;
}

#scene .img{
    width: 300px;
    height: 100%;
}

/*WHATSAPP1*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom: 15px;
    right: 15px;
	background-color:#4cc370;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:200;
}
.float:hover {
	text-decoration: none;
	color: #fff;
  background-color:#3d9e5a;
}

.my-float{
	margin-top:16px;
}

/*WHATSAPP2*/

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  width: auto;
  height: auto;
  position: fixed;
  z-index: 198;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  margin: 0px;
}
@media (max-width: 360px) {
  .nav-bottom {
    width: 320px;
  }
}

.whatsapp-button {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  z-index: 8;
  transition: .3s;
  margin: 10px;
  padding: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  /* offset-x > | offset-y ^| blur-radius | spread-radius | color */
  -webkit-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
}

.circle-anime {
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  transition: .3s;
  background-color: #77bb4a;
  animation: pulse 1.2s 4.0s ease 4;
}

.popup-whatsapp {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  height: auto;
  padding: 10px;
  bottom: 85px;
  right: 6px;
  transition: .5s;
  border-radius: 10px;
  background-color: white;
  /* offset-x > | offset-y ^| blur-radius | spread-radius | color */
  -webkit-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  animation: slideInRight .6s 0.0s both;
}
.popup-whatsapp > div {
  margin: 5px;
}
@media (max-width: 680px) {
  .popup-whatsapp p {
    font-size: 0.9em;
  }
}
.popup-whatsapp > .content-whatsapp.-top {
  display: flex;
  flex-direction: column;
}
.popup-whatsapp > .content-whatsapp.-top p {
  color: #585858;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.0em;
}
.popup-whatsapp > .content-whatsapp.-bottom {
  display: flex;
  flex-direction: row;
}

.closePopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin: 0px 0px 15px 0px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4cc370;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
}
.closePopup:hover {
  background-color: #3d9e5a;
  transition: .3s;
}

.send-msPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0px 0px 0px 5px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
}
.send-msPopup:hover {
  background-color: #f8f8f8;
  transition: .3s;
}

.is-active-whatsapp-popup {
  display: flex;
  animation: slideInRight .6s 0.0s both;
  background-color: #fafafa;
}

input.whats-input[type=text] {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 0px solid #ffffff;
  border-radius: 20px;
  font-size: 1em;
  background-color: #ffffff;
  padding: 0px 0px 0px 10px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  outline: none;
  transition: .3s;
}
@media (max-width: 420px) {
  input.whats-input[type=text] {
    width: 225px;
  }
  
  .float{
    right: 15px;
    }
    
    .nav-bottom {
      right: 0px;
    }
}
input.whats-input::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(68, 68, 68, 0.705);
  opacity: 1;
}
input.whats-input[type=text]:focus {
  background-color: #f8f8f8;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  transition: .3s;
}

.icon-whatsapp-small {
  width: 24px;
  height: 24px;
}

.icon-whatsapp {
  width: 45px;
  height: 45px;
}

.icon-font-color {
  color: #ffffff;
}

.icon-font-color--black {
  color: #333333;
}




@media only screen and (max-width: 860px){
    .container-logo{
        padding: 0 30px;
    }

    .navbar{
        overflow: visible;
    }

    .navbar nav {
        width: 100%;
    }

    .navbar nav ul {
        position: absolute;
        top: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.95);
        width: 100%;
        max-width: 900px;
        padding: 0;
        overflow-y: auto; /* Habilita scroll vertical */
        overflow-x: hidden;
        transition: max-height 0.5s ease;
        max-height: 600px; /* Altura máxima para que funcione el scroll */
        transform: translateY(0%);
        display: block;
    }

    /* Estilos de barra de desplazamiento */
    .navbar nav ul::-webkit-scrollbar {
        width: 10px;
        background: #666;
    }

    .navbar nav ul::-webkit-scrollbar-thumb {
        background: #FAAD00;
        border-radius: 5px;
        z-index: 1999;
    }

    .navbar nav ul li {
        margin-right: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 12px 0;
        width: 100%;
        text-align: center;
    }

    label img {
        display: block;
        cursor: pointer;
        padding: 0 10px;
    }

    /*---- Searcher ----*/

    #ctn-bars-search{
        width: 100%;
    }

    #ctn-bars-search input{
        width: 85%;
        margin-left: 0;
    }
}


/* Estilos para dispositivos móviles en orientación vertical (portrait) */
@media only screen and (max-width: 500px) and (orientation: portrait) {
    .navbar nav ul {
        position: absolute;
        top: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.95);
        width: 100%;
        max-height: 100vh; /* Ocupa toda la altura de la pantalla si es necesario */
        overflow-y: auto;
        padding: 0;
        transform: translateY(0%);
        transition: max-height 0.5s ease;
    }

    .navbar nav ul li {
        padding: 12px 0;
        width: 100%;
        text-align: center;
    }

    .hero .container .container-col{
        padding: 20px 0;
        margin-top: 30px;
    }

    .hero .container .container-col h2{
        padding: 1rem 0.5rem;
    }

    .quienes-somos{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .contenido{
        width: 80%;
        padding-right: 0px;
        padding-top: 30px;
    }

    /* Barra de desplazamiento personalizada para vista vertical */
    .navbar nav ul::-webkit-scrollbar {
        width: 10px;
        background: #666;
    }

    .navbar nav ul::-webkit-scrollbar-thumb {
        background: #FAAD00;
        border-radius: 5px;
    }

    /*Quiénes somos*/
    .contenido img{
        padding: 40px 0;
    }

    .quienes-somos{
        padding: 0;
        margin: 0;
    }

    #read-more {
        max-height: 150px;
    }

    /*Sección contacto*/
    form#contact-form {
        max-width: 400px;
    }
}

/* Estilos para dispositivos móviles en orientación horizontal (landscape) */
@media only screen and (max-width: 780px) and (orientation: landscape) {
    .hero{
        height: 700px;
    }

    .hero .container .container-col h2{
        font-size: 35px;
    }

    .navbar nav ul {
        position: absolute;
        top: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.95);
        width: 100%;
        max-height: 150px; /* Limita la altura del menú */
        overflow-y: auto; /* Activa el scroll vertical en landscape */
        padding: 0;
        transform: translateY(0%);
        transition: max-height 0.5s ease;
    }

    .navbar nav ul li {
        padding: 1px 0;
        width: 100%;
        text-align: center;
    }

    .navbar nav ul li:hover {
        padding: 1px 0;
    }

    /* Barra de desplazamiento personalizada para vista horizontal */
    .navbar nav ul::-webkit-scrollbar {
        width: 10px;
        background: #666;
    }

    .navbar nav ul::-webkit-scrollbar-thumb {
        background: #FAAD00;
        border-radius: 5px;
    }

    /*Box Search*/
    #box-search{
        max-height: 150px; /* Altura máxima para que funcione el scroll */
    }

    /*Quiénes somos*/
    #read-more {
        max-height: 160px;
    }
}


@media screen and (max-width: 760px){
	.hero{
		align-items: baseline;
		height: 1015px;
        padding: 0 30px;
	}

    .hero .container{
        display: block;
    }

	.hero .container .container-col{
		justify-content: center;
        width: 100%;
	}

    .hero .container .container-col .controller{
		width: 100%;
        max-width: 400px;
        margin: auto;
    }

    .hero .container .container-col .controller .parallax-section{
        width: 85%;
        margin: auto;
    }

	.hero .container .container-col img{
		margin: auto;
		justify-content: center;
	}

	.btn-cta{
		margin-top: 1rem;
	}

	.arrow-up{
		position: absolute;
		width: 60px;
		height: 60px;
		line-height: 60px;
		bottom: 30px;
		right: 45%;
		justify-content: center;
		margin: auto;
		background: #0d5cf0;
		color: #ffffff;
		border-radius: 50px;
		text-align: center;
		font-size: 40px;
		box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
		z-index: 100;
		opacity: 1;
		visibility: visible;
	}

    .scale .content {
        max-height: 150px; /* Ajusta esta altura según el contenido */
    }
}

@media screen and (max-width: 395px){
	.hero{
		height: 1100px;
	}
}
